.fullscreen {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 6;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}

.navButtons {
  margin-top: 10px;
}
