// globals.scss

:root {
  --main_dominant_color: hotpink;
  --main_text_stroke_color: rgb(251, 47, 47);
  --secondary_color: pink;
  --link_disabled_color: gray;
  --moderation_color: blue;
  --rejected_color: red;
  --approved_color: greenyellow;
  --secondary_menu_color: white;
  --background_color: #212529;
  }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--background_color) !important;
    color: white !important;
    font-family: sans-serif; /* example */
  }
  
  /* Overriding bootstrap .bg-dark or text-light, if desired */
  .bg-dark {
    background-color: var(--background_color) !important;
  }

  .modal-content {
    background-color: var(--background_color) !important;
    color: white !important;
}
  
  /* Additional global styling */
  a {
    text-decoration: none;
    color: var(--main_dominant_color);
    &:hover {
      color: var(--secondary_color);
    }
  }